<div class="background" style="overflow: hidden;">
  <!-- <div class="back">
       <img class="Title" src="../../../assets/flappy-bird.png" width="350px" style="margin-top: 10%;">
       <div class="Character" >
           <div [@animImageSlider]="counter">
               <ng-container *ngFor="let img of images; let i=index">
                   <img [src]="img" style="margin-left: 25%;margin-top: 5%;" *ngIf="i===counter" />
               </ng-container>
           </div>
       </div>
   </div> -->
  <div class="back">
    <img class="Title" src="../../../assets/flappy-bird.png" width="350px">
    <div class="Character">
      <img src="../../../assets/blue.gif" style="margin-left: 25%;margin-top: 5%;">
      <img src="../../../assets/yellowbird-upflap.gif" style="margin-left: 25%;margin-top: 5%;">
      <img src="../../../assets/red.gif" style="margin-left: 25%;margin-top: 5%;">
    </div>
  </div>
  <div class="base"></div>
</div>
<!-- <mat-grid-list cols="1" rowHeight="46px" >
   <mat-grid-tile rowspan="11" class="background">
       <div class="back">
       <img class="Title" src="../../../assets/flappy-bird.png" width="350px">
       </div>
   </mat-grid-tile>
   <mat-grid-tile class="base" rowspan="2"></mat-grid-tile>
</mat-grid-list> -->
