  <!-- <div class="background" style="overflow: hidden;">
<div class="background" style="overflow: hidden;">
    <div class="back">
      <div class="Character">
        <img src="../../../assets/blue.gif">
        <div>
          <img src="../../../assets/yellowbird-upflap.gif">
          <img src="../../../assets/red.gif">
        </div>
      </div>
      <img class="Title" src="../../../assets/flappy-bird.png" width="350px">
    </div>
    <div class="base"></div>
</div> -->
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-lg-2">
      1 of 3
    </div>
    <div class="col-md-auto">
      Variable width content
    </div>
    <div class="col col-lg-2">
      3 of 3
    </div>
  </div>
  <div class="row">
    <div class="col">
      1 of 3
    </div>
    <div class="col-md-auto">
      Variable width content
    </div>
    <div class="col col-lg-2">
      3 of 3
    </div>
  </div>
</div>

